Repository agustinustheo/licensable-runtime: changes, and which lefthook commands are due for each by the changed paths.
All: format-rust, format-api, lint-rust

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format-rust:
      glob: "*.rs"
      run: cargo fmt --all -- --check
      stage_fixed: true
    format-api:
      glob: "api-service/**/*.{js,ts,json}"
      run: cd api-service && prettier --check {staged_files}
      stage_fixed: true
    lint-rust:
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings

pre-push:
  commands:
    test:
      run: cargo test --all
    check:
      run: cargo check --all-targets --all-features

Update license to MIT and improve git hooks configuration
  LICENSE
  README.md
  api-service/package.json
  docs/LICENSED_AURA_INTEGRATION.md
  lefthook.yml
  package.json
Due: none

Remove template pallet and fix runtime configuration
  Cargo.lock
  Cargo.toml
  pallets/template/Cargo.toml
  pallets/template/README.md
  pallets/template/src/benchmarking.rs
  pallets/template/src/lib.rs
  pallets/template/src/mock.rs
  pallets/template/src/tests.rs
  pallets/template/src/weights.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: format-rust, lint-rust

Reorganize Docker setup into .maintain directory
  .maintain/.env.docker
  .maintain/DOCKER_README.md
  .maintain/Dockerfile
  .maintain/README.md
  .maintain/docker-compose.yml
  .maintain/parachain-spec-template.json
  Dockerfile
  README.md
  api-service/src/controllers/license.controller.ts
  package.json
Due: format-api

WIP: Add polkadot-omni-node setup and configuration
  .maintain/Dockerfile.omni-node
  .maintain/OMNI_NODE_README.md
  .maintain/build-omni-node.sh
  .maintain/docker-compose.omni-node.yml
  OMNI_NODE_SETUP.md
  package.json
  runtime/Cargo.toml
Due: none

Merge documentation into main README and maintenance guide
  .maintain/DOCKER_README.md
  .maintain/OMNI_NODE_README.md
  .maintain/README.md
  OMNI_NODE_SETUP.md
  README.md
Due: none

Fix Clippy linting errors and refactor runtime configuration
  Cargo.lock
  Cargo.toml
  api-service/src/controllers/license.controller.ts
  node/Cargo.toml
  node/src/benchmarking.rs
  node/src/chain_spec.rs
  node/src/command.rs
  node/src/rpc.rs
  node/src/service.rs
  pallets/licensed-aura/src/lib.rs
  pallets/licensed-aura/src/mock.rs
  runtime/src/lib.rs
Due: format-rust, format-api, lint-rust

Add .dockerignore file and update pnpm-lock.yaml for dependency changes
  .dockerignore
  .maintain/Dockerfile
  .maintain/Dockerfile.omni-node
  pnpm-lock.yaml
  rust-toolchain.toml
Due: none

Update Dockerfile.omni-node and seed.ts for improved build and data seeding
  .maintain/Dockerfile.omni-node
  api-service/src/seed.ts
Due: format-api

Update dependencies and add chain specification for Licensable Runtime
  .maintain/chain-spec.json
  .maintain/parachain-spec-template.json
  Cargo.lock
  Cargo.toml
  node/src/chain_spec.rs
  pallets/licensed-aura/Cargo.toml
  pallets/licensed-aura/src/lib.rs
Due: format-rust, lint-rust

Refactor chain specification and update licensed aura configuration
  .maintain/chain-spec.json
  node/src/chain_spec.rs
  pallets/licensed-aura/Cargo.toml
  pallets/licensed-aura/src/lib.rs
Due: format-rust, lint-rust

Refactor licensed aura pallet and update chain specification
  .maintain/chain-spec.json
  pallets/licensed-aura/src/lib.rs
Due: format-rust, lint-rust

WIP add testing guide and refactor Docker setup by removing omni-node Docker
  .maintain/DOCKER-ARCHITECTURE.md
  .maintain/Dockerfile
  .maintain/Dockerfile.api
  .maintain/Dockerfile.omni-node
  .maintain/README.md
  .maintain/build-omni-node.sh
  .maintain/docker-compose.omni-node.yml
  .maintain/docker-compose.yml
  .maintain/start-local.sh
  GUIDE.md
  README.md
  api-service/src/app.module.ts
  lefthook.yml
  package.json
Due: format-api

Fix attempt at Offchain worker in licensed aura pallet and update chain specification
  .maintain/chain-spec.json
  pallets/licensed-aura/src/lib.rs
  pallets/licensed-aura/src/mock.rs
Due: format-rust, lint-rust

Refactor licensed aura pallet and update chain specification
  .maintain/chain-spec.json
  Cargo.lock
  pallets/licensed-aura/src/lib.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: format-rust, lint-rust

Fixed AuraHaltFilter to manage allowed calls while halted
  .maintain/.env.docker
  .maintain/chain-spec.json
  .maintain/update-chain-spec-code.sh
  package.json
  runtime/src/lib.rs
Due: format-rust, lint-rust

Remove outdated documentation and refactor project structure
  .maintain/DOCKER-ARCHITECTURE.md
  .maintain/README.md
  GUIDE.md
  README.md
  docs/LICENSED_AURA_INTEGRATION.md
  docs/rust-setup.md
  env-setup/README.md
  env-setup/rust-toolchain.toml
  pallets/licensed-aura/README.md
Due: none

Add AuraHaltFilter implementation to licensed aura pallet
  pallets/licensed-aura/README.md
  pallets/licensed-aura/src/filter.rs
  pallets/licensed-aura/src/lib.rs
  runtime/src/lib.rs
Due: format-rust, lint-rust

Add offchain worker resume functionality to licensed aura pallet
  .maintain/chain-spec.json
  pallets/licensed-aura/src/filter.rs
  pallets/licensed-aura/src/lib.rs
  runtime/src/lib.rs
Due: format-rust, lint-rust

Update licensed aura pallet with auto-recovery and improved filtering
  .maintain/chain-spec.json
  pallets/licensed-aura/README.md
  pallets/licensed-aura/src/filter.rs
  pallets/licensed-aura/src/lib.rs
  runtime/src/lib.rs
Due: format-rust, lint-rust
